*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35, 0, 35);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section .div{
    display: flex;
}

main section .div input{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    width: 70vw;
}

main section .div .check{
    border: none;
    background-color: purple;
    color: white;
    padding: 10px 20px;
    transition: all 0.2s linear;
    padding-left: 20px;
}

.check:hover{
    box-shadow: 0 0 20px purple;

}

header{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100vw;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 20px;
    height: 00px;
    box-shadow: 0 0 50px;
}

header h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 span{
    font-family: "Dancing Script";
}

.resultDisplay{
    margin-top: 50px;
    width: 300px;
    height: 150px;
    background-color: rgba(255, 0, 238, 0.208);
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
}

.resultDisplay .loader{
    width: 60px;
    height: 60px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-radius: 35rem;
    /* box-shadow: 0 0 50px palevioletred; */
    animation: identifier 0.25s linear infinite;
}

@keyframes identifier {
    0%{
        rotate:  0;
    }

    100%{
        rotate: 360deg;
    }
}

.fill{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(229, 2, 229);
    filter: drop-shadow(0  0 2px rgb(229, 2, 229));
}
